.header {
    background-color: rgb(31, 31, 31);

    .header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-nav-list-title {
            font-size: 24px;
            font-weight: 400;
            margin-left: 5%;
        }
    }

    // .group:after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }   
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 5%;

    .header-nav-list-item {
        font-size: 17px;

        a {
            padding: 20px 0;
        }
    }

    .header-nav-list-item a:hover {
        color: rgb(189, 189, 189);
    }
}

@media all and (max-width: 550px) {
    .header .header-nav .header-nav-list-title {
        font-size: 18px;
    }
}