.header {
    background: $dark-grey;

    .header-nav {
        width: 100%;
        margin: auto;
    }

    // .group:after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }   
}

.header-nav-list {
    margin-right: 60px;
    margin-left: 60px;

    .header-nav-list-item, .header-nav-list-title {
        display: block;
        padding: 20px;
    }
    
    .header-nav-list-title {
        position: relative;
        float: left;
        font-size: 24px;
    }

    .header-nav-list-item {
        float: right;
        padding: 24px;
        font-size: 17px;

        a {
            padding: 24px;
        }
    }

    .header-nav-list-item a:hover {
        color: rgb(189, 189, 189);
    }
}