
body {
    background-color: rgb(42, 42, 42);
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-and-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 900px;
    height: 500px;
    
    .sphere {
        fill: transparent;
        stroke: white;
        stroke-width: .8px;
    }

    .country {
        stroke: white;
        stroke-width: .6px;
    }
}