body {
    position: relative;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    .modal {
        background-color: rgb(42, 42, 42);
        padding: 25px 30px 30px;
        border-radius: 1px;
        width: 600px;
        max-width: 100%;

        p {
            font-size: 18px;
            font-weight: 300;

            .happiness-link {
                text-decoration: underline;
            }
        }
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .close {
        font-size: 18px;
        color: #fff;
        cursor: pointer;
    }
}