$dark-grey: #1a2323;
$light-grey: #2b3535;

html, body, header, nav,
ul, li, main, div, a,
section, p, footer {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;

    background: transparent;
}
