html, body, header, nav, h1, ul, li, a, table, th, tr, td, footer, p {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;

    background: transparent;
}
