
body {
    background-color: #1a2323;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.map {
    position: relative;
    display: flex;
}

path {
    // fill: #cccccc;
    stroke: white;
    stroke-width: .6px;
}

// div {
//     margin: auto;
//     top: 500px;
// }
