
body {
    background-color: #1a2323;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
    // overflow: hidden;
}

div {
    display: inline;
}

main {
    display: flex;
	justify-content: space-around;
    padding: 30px;

    // .map {
    //     display: block;
    //     float: left;
    //     padding: 40px;
    // }

    // .tooltip {
    //     display: block;
    //     float: right;
    // }
}

.map {
    // position: relative;
    // display: flex;
}

path {
    stroke: white;
    stroke-width: .6px;
}

.sphere {
    fill: darkblue;
}