
body {
    background-color: #1a2323;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
    // overflow: hidden;
}

.map {
    position: relative;
    display: flex;
}

path {
    stroke: white;
    stroke-width: .6px;
}

h1 {
    color: white;
    display: block;
}

ul {
    color: white;
}